{% load static %}
<aside class="app-sidebar bg-body-tertiary shadow" data-bs-theme="light" style="height: 100vh; overflow-y: auto;">
    <div class="sidebar-brand">
        <a href="{% url 'general_app:inicio' %}" class="brand-link">
            <img src="{% static 'img/layers.png' %}"
                 alt="G-VIEW DATA" class="brand-image opacity-75">
            <span class="brand-text fw-light"><b class="fw-bold">G-VIEW</b> DATA</span>
        </a>
    </div>

    <div class="sidebar-wrapper" style="display: flex; flex-direction: column; height: calc(100% - 57px);">
        <nav class="mt-2" style="flex-grow: 1; overflow-y: auto;">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'general_app:inicio' %}" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-header">MÓDULOS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-table text-primary"></i>
                        <p>Reportes <i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'reports:reportes' %}" class="nav-link">
                                <i class="nav-icon bi bi-file-earmark-spreadsheet"></i>
                                <p>Reporte de datos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-people-fill text-danger"></i>
                        <p>Usuarios <i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% if user.is_superuser %}
                                <a href="{% url 'users:lista_usuarios' %}" class="nav-link">
                                    <i class="nav-icon bi bi-person-check"></i>
                                    <p>Administrar Usuarios</p>
                                </a>
                            {% else %}
                                <a href="#" onclick="alert_maintenance();" class="nav-link">
                                    <i class="nav-icon bi bi-person-check"></i>
                                    <p>Administrar Usuarios</p>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <!---
                <li class="nav-item"><a href="#" class="nav-link"> <i
                        class="nav-icon bi bi-gear-fill text-success"></i>
                    <p>
                        Configuración
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="nav-icon bi bi-tools"></i>
                                <p>
                                    Administrar datos
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                --->
            </ul>
        </nav>

        <nav class="mt-2" style="flex-shrink: 0;">
            <ul class="nav sidebar-menu flex-column" role="menu">
                <li class="nav-header">DOCUMENTACIÓN</li>
                <li class="nav-item">
                    <a href="#" type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#modal_code">
                        <i class="nav-icon bi bi-code"></i>
                        <p>Instalación</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="download_user_manual()" class="nav-link">
                        <i class="nav-icon bi bi-download"></i>
                        <p>Manual de Usuario</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<style>
    .sidebar-wrapper nav ul li .nav-link {
        color: #343a40 !important;
    }
</style>

{% include 'modal_code.html' %}

<script>
    function alert_maintenance() {
        Swal.fire({
            icon: 'warning',
            title: 'Alerta!',
            text: 'Actualmente no tienes acceso a este módulo',
            customClass: 'swal-wide',
        });
    }

    const manualUsuarioURL = '{% static "documents/Manual de usuario.pdf" %}'; // ruta del archivo pdf

    function download_user_manual() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: true
        });

        swalWithBootstrapButtons.fire({
            html: `<h2 class="mb-0"><i class="fas fa-2x fa-file-pdf text-danger"></i></h2><br><h3>¿Está seguro?</h3>
            <p class="mb-0">Haz clic en descargar para obtener el manual de usuario en archivo .pdf</p>`,
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, descargar!",
            cancelButtonText: "Cancelar",
            customClass: 'swal-wide'
        }).then((result) => {
            console.log("Resultado:", result); // para depuración
            if (result.value) {
                // Ejecutar descarga
                const link = document.createElement('a');
                link.href = manualUsuarioURL;
                link.download = 'Manual_de_Usuario.pdf';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                // Mostrar confirmación
                Swal.fire({
                    title: "Descargado!",
                    text: "Tu archivo se ha descargado correctamente.",
                    icon: "success",
                    customClass: 'swal-wide'
                });
            }
        });
    }

    const modal_code = document.getElementById('modal_code')

    modal_code.addEventListener('shown.bs.modal', () => {
    })
</script>